<ion-header>
    <ion-toolbar color="warning">
        <ion-title class="ion-text-center">signup</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center">
        <app-logo></app-logo>
        <h1> Sign Up</h1>
    </div>

    <form>
        <ion-list>
            <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input autofocus="false" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">First name</ion-label>
                <ion-input autofocus="false" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input autofocus="false" type="text"></ion-input>
            </ion-item>

          <ion-item>
            <ion-label position="floating">Email Address</ion-label>
            <ion-input autofocus="false" type="email"></ion-input>
          </ion-item>

            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password"></ion-input>
            </ion-item>
            <ion-item lines="none">
              Already have an account?
              <a routerLink="/login"> Login </a>
            </ion-item>
            <ion-button expand="block" color="warning">Sign Up</ion-button>
        </ion-list>
    </form>
</ion-content>
