<ion-content>
    <ion-card class="ion-text-center">
      <ion-card-header> Welcome</ion-card-header>
        <ion-card-content>
            <ion-button expand="block" (click)="loginPage()" color="warning">Login</ion-button>
            <ion-button expand="block" (click)="registerPage()" color="danger">Register</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
