<ion-header>
    <ion-toolbar color="warning" id="main-content">
        <ion-menu-toggle slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-menu-toggle>
        <ion-title class="ion-text-center">feed</ion-title>
        <app-menu></app-menu>

    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-text-center">
        <app-logo></app-logo>
        <h1> Get a quote</h1>

        <form>
            <ion-list>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating"> From</ion-label>
                                <ion-input type="text" placeholder="e.g Johannesburg" name="from"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating"> To</ion-label>
                                <ion-input type="text" placeholder="e.g Durban" name="to"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating"> Weight</ion-label>
                                <ion-input type="text" name="from"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating"> Loads</ion-label>
                                <ion-input type="text" name="to"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>Departure Date</ion-label>
                                <ion-datetime value="2020-02-19" placeholder="Select Date"></ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>Arrival Date</ion-label>
                                <ion-datetime value="2020-02-21" placeholder="Select Date"></ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-button expand="block" color="warning"> Request</ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button type="reset" expand="block" color="warning"> Reset</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list>
        </form>
    </div>
</ion-content>