<ion-header>
    <ion-toolbar color="warning">
        <ion-title class="ion-text-center">login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center">
        <app-logo></app-logo>
      <h1> Sign in</h1>
    </div>

    <form>
        <ion-list>
            <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-checkbox slot="start" color="light"></ion-checkbox>
                <ion-label>Remember me</ion-label>
            </ion-item>



            <ion-item lines="none">
                Dont have an account?
                <a routerLink="/register"> Sign up</a>
            </ion-item>
            <ion-button (click)="homePage()" expand="block" color="warning">Login</ion-button>
        </ion-list>
    </form>
</ion-content>
