<ion-header>
    <ion-toolbar color="warning">
        <ion-title class="ion-text-center">messages</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center">
        <app-logo></app-logo>
    </div>
    <ion-list>
        <ion-item>
          <ion-label position="floating"> Search</ion-label>
          <ion-input type="text" name="search"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
