<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="feed">
            <ion-icon name="home"></ion-icon>
            <ion-label>Feed</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="messages">
            <ion-icon name="send"></ion-icon>
            <ion-label> Messages</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="notifications">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>Orders</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon name="cog"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
